// imports
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200;300;400;500;600;700;800&display=swap');

// main colors
// background
@pink: #F7D6E0;
// pink at 0.8 opacity
@pink7: rgba(247, 214, 224, 0.7);
// light accent (colorful)
@green: #DEEFB7;
// light accent (neutral)
@gray: #465362;
// main color 1
@red: #ED254E;
// main color 2
@navy: #011936;
// link color
@blue: #30bdc6;

html, body {
    background-color: @pink;
    padding: 0px;
    margin: 0px;

    font-family: 'Trispace', sans-serif;
    font-weight: 300;
    color: @navy;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

    a:hover {
        color: @blue;
        cursor: pointer;
    }
}

.center-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo-nav {
        background-color: @red;
        width: 10vh;
        height: 10vh;
        margin: 1vh 5vh 1vh 5vh;

        // letters
        font-size: 4vh;
        font-weight: 800;
        color: @pink;
    }

    #logo-nav:hover {
        background-color: @blue;
        cursor: pointer;
    }

    ul {
        height: 5vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        color: @red;
        // background-color: @green;
    
        li {
            list-style: none;
            margin: 10vh;
            padding: 1vh;
            background-color: @pink7;
        }
    }
}

main {
    margin: 10px;
    // 80 for initial animation, 100 for subsequent sections
    height: 150vh;
    display: flex;
    justify-content: center;
    // background-color: aliceblue;

    #landing {
        position: absolute;
        left: 15%;
        top: 17%;

        .logo-box-landing {
            position: absolute;
            width: 35vh;
            height: 35vh;
        }

        h1 {
            padding: 0px;
            position: relative;
            // font size should be about .4 of the box size
            font-size: 14vh;
            font-weight: 800;
            color: @red;
            margin: 1vh;
        }

        .landing-titles {
            position: absolute;

            h1 {
                color: @navy;
            }

            h1:hover {
                color: @blue;
                cursor: pointer;
            }
        }

        #artist {
            h1 {
                writing-mode: vertical-lr;
                text-orientation: upright;
                top: -17.8vh;
                left: 12.85vh;
                // mix-blend-mode: screen;
                // letter-spacing: -0.2em;
                letter-spacing: -0.3em;
            }

            #artist1, #artist2 , #artist3, #artist4, #artist5, #artist6 {
                opacity: 0;
            }

            #swe {
                h1 {
                    writing-mode: horizontal-tb;
                    letter-spacing: 0em;
                    top: -43vh;
                    left: 16.2vh;
                    color: @red;
                }

                #engineer {
                    position: absolute;
                    top: -31.3vh;
                    left: 34.7vh;
                }
            }

            #swe:hover {
                h1 {
                    color: @blue;
                }
                
                cursor: pointer;
            }
        }

        #logo-box-main {
            background-color: @red;
            h1 {
                color: @pink;
            }
        }

        #logo-box-main:hover {
            background-color: @blue;
            cursor: pointer;
        }

        //change width and height of svg?

        #rects-div {
            position: absolute;
            top: 35vh;
        }

        #rects-svg {
            width: 35vh;
        }

        .rects {
            height: 0vh;
        }

        .rects.show-rects {
            height: 50vh;
        }

        #rect1 {
            width: 11.667vh;
            opacity: 0.8;
            fill: @red;
        }

        #rect2 {
            width: 11.667vh;
            fill: @blue;
            x: 11.667vh;
        }

        #rect3 {
            width: 11.667vh;
            fill: @green;
            x: 23.333vh;
        }

        .tbc-landing {
            position: absolute;
            top: 85vh;
            opacity: 0;
        }

        .tbc-landing.show-opacity {
            opacity: 1;
        }
    }

    #under-constr {
        width: 127vh;
        height: 35vh;
        background-color: @red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0vh;
        color: @pink;

        h2 {
            // background-color: @red;
            font-size: 8vh;
            margin: 0px;
            padding: 0px;
        }

        p {
            // background-color: @blue;
            font-size: 4vh;
        }
    }

    .fullname-logo {
        background-color: @blue;

        #ela {
            position: relative;
            left: 31vh;
        }

        #e {
            position: relative;
            left: -23vh;
        }
    }

    #info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        height: 35vh;
        width: 70vh;
        left: 55%;
        top: 17%;
        font-size: 2.5vh;
        text-align: justify;
        // background-color: @green;
    }

    #socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 52%;
        left: 35%;
        // background-color: @green;
        height: 50vh;
        width: 80vh;

        ul {
            line-height: 15vh;
            font-size: 4vh;

            li {
                color: @red;
            }
        }
    }

    #resume {
        width: 100vh;
        height: 143.75vh;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: @red;
            font-size: 5vh;
        }
    }

    #art-pdf {
        width: 100vh;
        height: 143.75vh;
    }

    .site-sc {
        width: 130vh;
        height: 75vh;
    }

    .but {
        font-size: 2.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    canvas {
        outline: 2px solid @red;
    }
}
